<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ProductSpecMapper">


    <select id="selectProductSpecList" resultType="com.ruoyi.product.domain.ProductSpec">

        select ps.*, c.name as categoryName from `pocket-product`.product_spec ps
        left join `pocket-product`.category c on ps.category_id = c.id and c.del_flag = 0
        <where>
            and ps.del_flag = 0
            <if test="categoryId!=null and categoryId!=''">and category_id = #{categoryId}</if>
            <if test="specName!=null and specName!=''">and spec_name like concat('%',#{specName},'%') </if>
        </where>

    </select>
</mapper>