<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ProductUnitMapper">

    <select id="selectProductUnitPage" resultType="com.ruoyi.product.domain.ProductUnit">
        select * from `pocket-product`.product_unit
        <where>
            <if test="query.name!=null and query.name!=''">
                and name like concat('%',#{query.name},'%')
            </if>
            and del_flag = 0
        </where>
    </select>




</mapper>
