<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.OrderInfoMapper">
    
    <resultMap type="OrderInfo" id="OrderInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="orderNo"    column="order_no"    />
        <result property="couponId"    column="coupon_id"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="couponAmount"    column="coupon_amount"    />
        <result property="originalTotalAmount"    column="original_total_amount"    />
        <result property="feightFee"    column="feight_fee"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="receiverName"    column="receiver_name"    />
        <result property="receiverPhone"    column="receiver_phone"    />
        <result property="receiverTagName"    column="receiver_tag_name"    />
        <result property="receiverProvince"    column="receiver_province"    />
        <result property="receiverCity"    column="receiver_city"    />
        <result property="receiverDistrict"    column="receiver_district"    />
        <result property="receiverAddress"    column="receiver_address"    />
        <result property="paymentTime"    column="payment_time"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="receiveTime"    column="receive_time"    />
        <result property="cancelTime"    column="cancel_time"    />
        <result property="cancelReason"    column="cancel_reason"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectOrderInfoVo">
        select id, user_id, nick_name, order_no, coupon_id, total_amount, coupon_amount, original_total_amount, feight_fee, order_status, receiver_name, receiver_phone, receiver_tag_name, receiver_province, receiver_city, receiver_district, receiver_address, payment_time, delivery_time, receive_time, cancel_time, cancel_reason, create_time, create_by, update_time, update_by, del_flag, remark from order_info
    </sql>

    <select id="selectOrderInfoList" parameterType="OrderInfo" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="couponId != null "> and coupon_id = #{couponId}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="couponAmount != null "> and coupon_amount = #{couponAmount}</if>
            <if test="originalTotalAmount != null "> and original_total_amount = #{originalTotalAmount}</if>
            <if test="feightFee != null "> and feight_fee = #{feightFee}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
            <if test="receiverName != null  and receiverName != ''"> and receiver_name like concat('%', #{receiverName}, '%')</if>
            <if test="receiverPhone != null  and receiverPhone != ''"> and receiver_phone = #{receiverPhone}</if>
            <if test="receiverTagName != null  and receiverTagName != ''"> and receiver_tag_name like concat('%', #{receiverTagName}, '%')</if>
            <if test="receiverProvince != null  and receiverProvince != ''"> and receiver_province = #{receiverProvince}</if>
            <if test="receiverCity != null  and receiverCity != ''"> and receiver_city = #{receiverCity}</if>
            <if test="receiverDistrict != null  and receiverDistrict != ''"> and receiver_district = #{receiverDistrict}</if>
            <if test="receiverAddress != null  and receiverAddress != ''"> and receiver_address = #{receiverAddress}</if>
            <if test="paymentTime != null "> and payment_time = #{paymentTime}</if>
            <if test="deliveryTime != null "> and delivery_time = #{deliveryTime}</if>
            <if test="receiveTime != null "> and receive_time = #{receiveTime}</if>
            <if test="cancelTime != null "> and cancel_time = #{cancelTime}</if>
            <if test="cancelReason != null  and cancelReason != ''"> and cancel_reason = #{cancelReason}</if>
        </where>
    </select>
    
    <select id="selectOrderInfoById" parameterType="Long" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertOrderInfo" parameterType="OrderInfo" useGeneratedKeys="true" keyProperty="id">
        insert into order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="couponId != null">coupon_id,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="couponAmount != null">coupon_amount,</if>
            <if test="originalTotalAmount != null">original_total_amount,</if>
            <if test="feightFee != null">feight_fee,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="receiverName != null">receiver_name,</if>
            <if test="receiverPhone != null">receiver_phone,</if>
            <if test="receiverTagName != null">receiver_tag_name,</if>
            <if test="receiverProvince != null">receiver_province,</if>
            <if test="receiverCity != null">receiver_city,</if>
            <if test="receiverDistrict != null">receiver_district,</if>
            <if test="receiverAddress != null">receiver_address,</if>
            <if test="paymentTime != null">payment_time,</if>
            <if test="deliveryTime != null">delivery_time,</if>
            <if test="receiveTime != null">receive_time,</if>
            <if test="cancelTime != null">cancel_time,</if>
            <if test="cancelReason != null">cancel_reason,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="couponId != null">#{couponId},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="couponAmount != null">#{couponAmount},</if>
            <if test="originalTotalAmount != null">#{originalTotalAmount},</if>
            <if test="feightFee != null">#{feightFee},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="receiverName != null">#{receiverName},</if>
            <if test="receiverPhone != null">#{receiverPhone},</if>
            <if test="receiverTagName != null">#{receiverTagName},</if>
            <if test="receiverProvince != null">#{receiverProvince},</if>
            <if test="receiverCity != null">#{receiverCity},</if>
            <if test="receiverDistrict != null">#{receiverDistrict},</if>
            <if test="receiverAddress != null">#{receiverAddress},</if>
            <if test="paymentTime != null">#{paymentTime},</if>
            <if test="deliveryTime != null">#{deliveryTime},</if>
            <if test="receiveTime != null">#{receiveTime},</if>
            <if test="cancelTime != null">#{cancelTime},</if>
            <if test="cancelReason != null">#{cancelReason},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateOrderInfo" parameterType="OrderInfo">
        update order_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="couponId != null">coupon_id = #{couponId},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="couponAmount != null">coupon_amount = #{couponAmount},</if>
            <if test="originalTotalAmount != null">original_total_amount = #{originalTotalAmount},</if>
            <if test="feightFee != null">feight_fee = #{feightFee},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="receiverName != null">receiver_name = #{receiverName},</if>
            <if test="receiverPhone != null">receiver_phone = #{receiverPhone},</if>
            <if test="receiverTagName != null">receiver_tag_name = #{receiverTagName},</if>
            <if test="receiverProvince != null">receiver_province = #{receiverProvince},</if>
            <if test="receiverCity != null">receiver_city = #{receiverCity},</if>
            <if test="receiverDistrict != null">receiver_district = #{receiverDistrict},</if>
            <if test="receiverAddress != null">receiver_address = #{receiverAddress},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderInfoById" parameterType="Long">
        delete from order_info where id = #{id}
    </delete>

    <delete id="deleteOrderInfoByIds" parameterType="String">
        delete from order_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectUserOrderInfoList" resultType="com.ruoyi.order.api.domain.OrderInfo">
        select * from `pocket-order`.order_info
        <where>
            <if test="orderStatus != null">
                and order_status = #{orderStatus}
            </if>
        and user_id = #{userId}
        and del_flag = 0
        </where>
        order by id desc

    </select>


    <!-- 查询某一个时间段的销售总额、销售量、环比增长率 -->
    <select id="selectOrderSalesData" parameterType="map"  resultType="com.ruoyi.order.api.domain.OrderSalesVo">
        SELECT
            SUM(oi.total_amount) AS total_sales_amount,
            (
                (SUM(oi.total_amount) -
                 (SELECT SUM(total_amount) FROM order_info
                  WHERE create_time BETWEEN DATE_SUB(#{startTime}, INTERVAL 1 MONTH) AND DATE_SUB(#{endTime}, INTERVAL 1 MONTH)))
                    /
                (SELECT SUM(total_amount) FROM order_info
                 WHERE create_time BETWEEN DATE_SUB(#{startTime}, INTERVAL 1 MONTH) AND DATE_SUB(#{endTime}, INTERVAL 1 MONTH))
                ) AS growth_rate
        FROM
            order_info oi
        WHERE
            oi.create_time BETWEEN #{startTime} AND #{endTime}
            and oi.order_status >= 2 and oi.del_flag = 0
    </select>

    <!-- 查询某一个时间段最畅销的三件商品 -->
    <select id="selectTopThreeBestSellingProducts" parameterType="map" resultType="com.ruoyi.order.api.domain.TopSalesVo">
        SELECT
            oi.sku_id,
            oi.sku_name,
            SUM(oi.sku_num) AS total_sales_quantity
        FROM
            order_item oi
                JOIN
            order_info o ON oi.order_id = o.id
        WHERE
            o.create_time BETWEEN #{startTime} AND #{endTime}
        and o.order_status >= 2 and o.del_flag = 0
        GROUP BY
            oi.sku_id, oi.sku_name
        ORDER BY
            total_sales_quantity DESC
            LIMIT 3
    </select>


    <select id="selectOrderData" parameterType="map" resultType="com.ruoyi.order.api.domain.OrderSalesVo">
        SELECT
            SUM(oi.total_amount) AS total_sales_amount,
            (
                (SUM(oi.total_amount) -
                 (SELECT SUM(total_amount) FROM order_info
                  WHERE create_time BETWEEN DATE_SUB(#{startTime}, INTERVAL 1 MONTH) AND DATE_SUB(#{endTime}, INTERVAL 1 MONTH)))
                    /
                (SELECT SUM(total_amount) FROM order_info
                 WHERE create_time BETWEEN DATE_SUB(#{startTime}, INTERVAL 1 MONTH) AND DATE_SUB(#{endTime}, INTERVAL 1 MONTH))
                ) AS growth_rate
        FROM
            order_info oi
        WHERE
            oi.create_time BETWEEN #{startTime} AND #{endTime}
            and oi.user_id = #{userId}
          and oi.order_status >= 2 and oi.del_flag = 0

    </select>

</mapper>